*{
    margin:0;
	padding:0;
	box-sizing:border-box;
    font-family:Arial;
}
html{ 
    font-family: Oswald,sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}
body{
    font-family: "Crimson Text",serif;
    font-size: 18px;
    line-height: 1.56em;
    font-weight: 400;
    color: #878787;
    text-align: left;
    background-color: #fff;
}
.container{
    width: 1290px;
    margin:auto;  
}

h1, h2, h3, h4, h5, h6 {
    color: #1e1e1e;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: -.02em;
}