.slider{
    width: 100%;
    display: flex;
    height: 600px;
    position: relative;
    
    .slider-bgim{
        display: flex;
        background-image: url(/imgs/travel-slider.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
        position: absolute;
        top: -22%;
        left: 0;
        right: 0; 
        z-index: -1;
        height: 750px;
    }

    .slider-content{
        width: 100%;
        display: inline-block;
        height: 600px;
        padding-top: 8%;
        justify-content: center;
        align-items: center;
        text-align: center;

        .text{
            display: inline-block; 
            width: 80%;
            background-color: none;
            // lightsteelblue
            height: auto;
            text-align: center;

            @media (max-width:816px) {
                width: 80%;
            }
            @media (max-width:620px) {
                width: 100%;
            }

            .spans{
                width: 100%;
                min-height: auto;
                display: flex;
                text-align: center;
                justify-content: center;

                span{
                    font-weight: 400;
                    font-size: 16px;
                    color: rgb(255, 255, 255);
                    font-style: italic;
                    font-family: serif;

                    i{
                        padding-right: 10px;
                        padding-left: 10px;
                    }
                }
            }

            h1{
                color: #fff;
                font-size: 55px;
                font-weight: 700;
                border-color: rgb(30, 30, 30);
                white-space: nowrap;
                line-height: 65px;
                letter-spacing: -1px;
                text-transform: uppercase;

                @media (max-width:816px) {
                    font-size: 40px;
                }

                @media (max-width:620px) {
                    font-size: 30px;
                }

                @media (max-width:460px) {
                    font-size: 25px;
                }

            }

            
                p{
                    width: 80%;
                    text-align: center;
                    line-height: 26px;
                    letter-spacing: 0px;
                    font-weight: 500;
                    font-size: 18px;
                    border-color: rgb(135, 135, 135);
                    border-style: none;
                    margin: 0px;
                    border-radius: 0px;
                    color: rgb(255, 255, 255);
                    padding-left: 16%;
                }
            

            button{
                margin-top: 30px;
                width: 181px;
                height: 53px;
                padding: 11px 20px;
                background-color: #59815b;
                border: 1px solid transparent;
                vertical-align: middle;
                cursor: pointer;
                transition: 0.2s ease-in-out;
                position: relative;

                &:hover>.blur{
                    left: 0%;
                    visibility: visible;
                    opacity: 0.8;
                }

                &:hover{
                    opacity: 1;
                }

                .blur{
                    position: absolute;
                    display: block;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: -102%;
                    visibility: hidden;
                    opacity: 0;
                    background-color: #3c553a;
                    transform-origin: left;
                    transition: .4s;
                    

                    i{
                        color: #fff;
                        font-size: 30px;
                        padding-top: 10px;
                    }
                }

                a{
                    text-decoration: none;
                    color: #fff;
                    font-size: 16px;
                    line-height: 2em;
                    font-weight: 700;
                    text-transform: uppercase;
                    letter-spacing: -1px;
                }

                i{
                    color: #fff;
                    padding-left: 10px;
                }
            }
        }
    }
}